NEXT_PUBLIC_APP_URL=http://localhost:3000
POSTGRES_PORT=54322
DATABASE_URL=postgresql://postgres:postgres@localhost:54322/cardinalxchange
DIRECT_URL=postgresql://postgres:postgres@localhost:54322/cardinalxchange
OPENAI_API_KEY=
